@for $i from 1 through 31 {
  .calendar {
    div:nth-child(#{$i}) {
      &::after {
        content: "#{$i}";
      }
    }
  }
}

@each $days, $day-start in $week {
  .calendar-#{$days} {
    div:first-child {
      grid-column-start: $day-start;
    }
  }
}
