@import "vars";
@import "mixin";
@import "cycles";

* {
  box-sizing: border-box;
}

body {
  @include box-center;
  margin: 0;
  height: 100vh;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, $box-day-width);
  grid-gap: 1px;
  div {
    @include box-center;

    cursor: pointer;
    @include box-day;
    @include font;
    transition: 0.5s;
    
    &:hover {
      background-color: $box-background-color;
      transform: translateY(-($box-day-height / 5));
    }
  }
  &-30 div:nth-child(n + 31),
  &-29 div:nth-child(n + 30),
  &-28 div:nth-child(n + 29) {
    display: none;
  }
}
